<!DOCTYPE html>
<html>
<head>
  <title>Foolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'nav' %>
<div class="container" style="padding: 0 15%;">
    <div class="small-8 columns">
        <%= yield %>
    </div>
    <div class="small-4 columns" style="margin-top: 20px;">
      <div class="panel">
        sidebar
      </div>
    </div>
</div>
</body>
</html>
